<div class="menu-container">
  <div class="menu">
    <ul>
      <li class="menu-item">
        <a href="#">Most játszottak</a>
      </li>
      <li class="menu-item">
        <a href="#">Népszerűek</a>
      </li>
      <li class="menu-item">
        <a href="#">Legjobbra értékelt</a>
      </li>
    </ul>
  </div>
</div>

<div class="search-container" [ngClass]="{'focus': isTextboxFocused}">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Keresés" (keyup.enter)="searchMovies()" (focus)="isTextboxFocused = true" (blur)="isTextboxFocused = false">
  <i class="material-icons search-icon" *ngIf="!isTextboxFocused">search</i>
</div>

<div class="card-container">
  <ng-container *ngFor="let movie of movies">
    <div class="card" *ngIf="movie.imagesLoaded && movie.images && movie.images.length > 0">
      <div class="card-image">
        <img [src]="getMovieImageURL(movie.images[0].file_path)" alt="Movie Image">
      </div>
      <div class="card-content">
        <h3>{{ movie.title }}</h3>
        <div class="movie-info">
          <p><strong>Megjelenési dátum:</strong> {{ movie.release_date }}</p>
          <p><strong>Értékelés:</strong> {{ movie.vote_average }}</p>
          <p><strong>Eredeti nyelv:</strong> {{ movie.original_language }}</p>
          <p><strong>Műfaj:</strong> {{ getGenresByIds(movie.genre_ids) }}</p>
          <p><strong>Szereplők:</strong>
            <ng-container *ngIf="movie.actors">
              <ng-container *ngFor="let actor of movie.actors.slice(0, 5); let i = index">
                {{ actor.name }}
                <ng-container *ngIf="i < 4">, </ng-container>
                <ng-container *ngIf="i === 4 && movie.actors.length > 5">...</ng-container>
              </ng-container>
            </ng-container>
          </p>
          
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="pagination">
  <button class="pagination-button" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Previous</button>
  <button class="pagination-button" *ngFor="let page of availablePages" [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}</button>
  <button class="pagination-button" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">Next</button>
</div>
