<div class="mdc-card movie-details-container" *ngIf="series">
    <div class="mdc-card__primary-action movie-details-header">
        <h1 class="mdc-typography--headline6 movie-title">{{ series.name }}</h1>
        <button class="mdc-icon-button material-icons mdc-icon-button--primary back-button" (click)="goBack()">arrow_back</button>
    </div>
  
    <div class="mdc-card__media mdc-card__media--16-9 movie-images">
        <img class="mdc-card__media-content movie-poster" [src]="series.images && series.images.length > 0 ? getImageURL(series.images[0].file_path) : ''" alt="Movie Poster">
    </div>

    <h2 class="mdc-typography--subtitle1 section-title">Évadok:</h2>
    <div class="card-container">
      <ng-container *ngIf="series.seasons">
        <ng-container *ngFor="let season of series.seasons.slice(0,6); let i = index">
          <div class="mdc-card card" >
            <div class="mdc-card__primary-action card-image">
              <img class="mdc-card__media-item" [src]="getImageURL(season.poster_path)" alt="Actor Profile Image">
            </div>
            <div class="mdc-card__content card-content">
              <h2 class="mdc-typography--headline6">{{ season.name }}</h2>
              <h5 class="mdc-typography--headline6">{{ season.episode_count}} epizód</h5>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  
    <div class="mdc-card__content movie-details">
        <h2 class="mdc-typography--subtitle1 section-title" *ngIf="series.overview">Bevezető</h2>
        <p class="mdc-typography--body2 summary" *ngIf="series.overview">{{ series.overview }}</p>
  
        <h2 class="mdc-typography--subtitle1 section-title">További részletek</h2>
        <ul class="mdc-list details-list">
            <li class="mdc-list-item">
                <span class="mdc-list-item__text"><strong>Értékelés: </strong> {{ series.vote_average }}/10</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__text"><strong>Megjelenési dátum:</strong> {{ series.first_air_date }}</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__text"><strong>Évadok száma:</strong> {{ series.number_of_seasons }}</span>
            </li>
        
            <li class="mdc-list-item">
                <span class="mdc-list-item__text"><strong>Eredeti nyelv:</strong> {{ series.original_language }}</span>
            </li>
        </ul>
    </div>
</div>
