<div class="mdc-card movie-details-container" *ngIf="movie">
    <div class="mdc-card__primary-action movie-details-header">
      <h1 class="mdc-typography--headline6 movie-title">{{ movie.title }}</h1>
      <button class="mdc-icon-button material-icons mdc-icon-button--primary back-button" (click)="goBack()">arrow_back</button>
    </div>
  
    <div class="mdc-card__media mdc-card__media--16-9 movie-images">
      <img class="mdc-card__media-content movie-poster" [src]="movie.images && movie.images.length > 0 ? getImageURL(movie.images[0].file_path) : ''" alt="Movie Poster">
    </div>
  
    <h2 class="mdc-typography--subtitle1 section-title">Szereplők:</h2>
    <div class="card-container">
      <ng-container *ngIf="movie.actors">
        <ng-container *ngFor="let actor of movie.actors.slice(0,5); let i = index">
          <div class="mdc-card card" (click)="navigateToActorDetails(actor.id)">
            <div class="mdc-card__primary-action card-image">
              <img class="mdc-card__media-item" [src]="getImageURL(actor.profile_path)" alt="Actor Profile Image">
            </div>
            <div class="mdc-card__content card-content">
              <h3 class="mdc-typography--headline6">{{ actor.name }}</h3>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  
    <div class="mdc-card__content movie-details">
      <h2 class="mdc-typography--subtitle1 section-title">Bevezető</h2>
      <p class="mdc-typography--body2 summary">{{ movie.overview }}</p>
  
      <h2 class="mdc-typography--subtitle1 section-title">További részletek</h2>
      <ul class="mdc-list details-list">
        <li class="mdc-list-item">
          <span class="mdc-list-item__text"><strong>Értékelés:</strong> {{ movie.vote_average }}/10</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text"><strong>Megjelenési dátum:</strong> {{ movie.release_date }}</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text"><strong>Film hossza:</strong> {{ movie.runtime }} perc</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text"><strong>Eredeti nyelv:</strong> {{ movie.original_language }}</span>
        </li>
      </ul>
    </div>
  </div>
  